.body{
    width: 1440px;
    min-height: 858px;
    background-color: #2d2d2d;
}

.body ul{
    padding: 0;
    height: auto;
}

.body h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    text-align: left;
    margin: 0;
    padding-left: 4.45%;
    padding-top: 9.5%;
}

.body h2{
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    line-height: 35.22px;
    text-align: left;
}

.body button:hover{
    cursor: pointer;
}

.titles{
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 27%;
    margin-top: 7%;
}

.rectangle{
    width: 685px;
    height: 6px;
    background-color: #d9d9d9;
    margin-left: 26%;
}

.addTask{
    display: flex;
    width: 620px;
    margin-left: 27%;
    justify-content: space-between;
    padding-bottom: 150px;
}

.addTask input{
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 400;
    line-height: 29.35px;
    width: 570px;
    height: 35px;
    background-color: #2d2d2d;
    color: #FFFFFF;
    border: none;
}

.addTask input::placeholder{
    font-style: italic;
    text-align: left;
    color: #FFFFFF;
}

.addTask button{
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: 400;
    line-height: 29.35px;
    width: 25px;
    height: 35px;
    background-color: #2d2d2d;
    color: #FFFFFF;
    border: none;
}

.body li{
    display: flex;
    width: 620px;
    margin-left: 27%;
    justify-content: space-between;
    padding-bottom: 1px;
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 400;
    line-height: 29.35px;
    height: auto;
    background-color: #2d2d2d;
    color: #FFFFFF;
    border: none;
}

.modalBox{
    width: 758px;
    height: 436px;
    margin-top: 50px;
    margin-left: 334px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Raleway';
    text-align: center;
}

.modalBox h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 41.09px;
    text-align: left;
    padding-left: 172px;
    margin-bottom: 57px;
}

.modalBox input{
    font-size: 25px;
    font-weight: 400;
    line-height: 29.35px;
    text-align: left;
    margin-bottom: 85px;
    color: #000000;
    width: 476px;
    min-height: 29px;
    height: fit-content;
    border: none;
}

.modalBox input::placeholder{
    line-height: 29.35px;
    text-align: left;
    color: #2d2d2d;
    font-family: 'Raleway';
    width: 476px;
    min-height: 29px;
    height: fit-content;
    border: none;
}

.modalBox p{
    font-size: 25px;
    font-weight: 400;
    line-height: 29.35px;
    margin-bottom: 85px;
    color: #000000;
    width: 476px;
    min-height: 29px;
    padding-left: 130px;
}

.modalButton{
    display: flex;
    padding-left: 100px;
    width: 560px;
    justify-content: space-between;
}

.buttonNo{
    background: #0C70F2;
    width: 268.42px;
    height: 77px;
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    line-height: 35.22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.buttonYes{
    background: #FFFFFF;
    width: 268.42px;
    height: 77px;
    border-radius: 10px;
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    line-height: 35.22px;
    text-align: center;
    color: #2d2d2d;
    border: 1px solid #2d2d2d;
}